.office-cast h1 {
  display: none; }
.office-cast .casts .cast {
  padding: 10px 25px 20px 25px; }
  .office-cast .casts .cast .title {
    font-weight: bold;
    margin-bottom: 8px; }
  .office-cast .casts .cast input.url {
    color: grey;
    padding: 0 5px;
    width: 100%; }
    .office-cast .casts .cast input.url:focus {
      color: black; }
  .office-cast .casts .cast .controls {
    width: 100%;
    background: black;
    line-height: 30px;
    height: 30px;
    margin: auto;
    font-size: 0; }
    .office-cast .casts .cast .controls .control {
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      width: 33%;
      font-size: medium; }
      .office-cast .casts .cast .controls .control > * {
        cursor: pointer; }
      .office-cast .casts .cast .controls .control.disabled > * {
        cursor: default; }
      .office-cast .casts .cast .controls .control .control-label {
        vertical-align: bottom;
        font-size: small; }
      .office-cast .casts .cast .controls .control.disabled {
        color: #333333 !important; }
      .office-cast .casts .cast .controls .control.start {
        color: greenyellow; }
      .office-cast .casts .cast .controls .control.stop {
        color: orangered; }
      .office-cast .casts .cast .controls .control.restart {
        color: dodgerblue; }
  .office-cast .casts .cast .log {
    border: 1px solid grey;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 150px;
    scroll: auto; }
