.office-cast {

    .connection {
        text-align: right;

        .glyphicon {
            font-size: xx-large;
        }
        .status {
            font-size: x-small;
        }
        &.online    { color: darkgreen; }
        &.offline   { color: red; }
    }

    .jumbotron {
        margin-bottom: 0px;
    }

    .global-controls {
        line-height: 50px;
        background: #2f2f2f;
        margin-bottom: 50px;


        .control {
            width: 150px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            vertical-align: middle;
            font-weight: bold;

            &.start {
                color: greenyellow;
                &:hover {
                    background-color: rgba(173, 255, 47, 0.10);
                }
            }

            &.stop {
                color: orangered;
                &:hover {
                    background-color: rgba(255, 69, 0, 0.10);
                }
            }

            &.restart {
                color: dodgerblue;
                &:hover {
                    background-color: rgba(30, 144, 255, 0.10);
                }
            }
        }
    }

    .casts {
        .cast {
            padding: 10px 25px 20px 25px;

            .title {
                font-weight: bold;
                margin-bottom: 8px;
            }

            input.url {
                color: grey;
                padding: 0 5px;
                width: 100%;
                border: 1px solid;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                &:disabled {
                    background-color: #E8E8E8;
                }
                &:focus {
                    color: black;
                }
            }

            .controls {
                width: 100%;
                background: black;
                line-height: 30px;
                height: 30px;
                margin: auto;
                font-size: 0;

                .control {
                    text-align: center;
                    display: inline-block;
                    vertical-align: middle;
                    width: 33%;
                    font-size: medium;

                    &           > * { cursor: pointer; }
                    &.disabled  > * { cursor: default; }

                    .control-label {
                        vertical-align: bottom;
                        font-size: small;
                    }

                    &.disabled  {  color: #333!important; }
                    &.start {
                        color: greenyellow;
                        &:hover {
                            background-color: rgba(173, 255, 47, 0.05);
                        }
                    }

                    &.stop {
                        color: orangered;
                        &:hover {
                            background-color: rgba(255, 69, 0, 0.05);
                        }
                    }

                    &.restart {
                        color: dodgerblue;
                        &:hover {
                            background-color: rgba(30, 144, 255, 0.05);
                        }
                    }
                }
            }

            .log {
                border: 1px solid grey;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                height: 150px;
                padding: 5px 0px;
                font-family: monospace;
                overflow: scroll;
                font-size: small;
                white-space: nowrap;

                & > * {
                    padding-left: 10px;
                    padding-right: 10px;
                    &:hover {
                        background-color: #e5fdff;
                    }
                }


                .error      { color: red; }
                .success    { color: darkgreen; }
                .dynamic    { color: blue;  }
            }
        }
    }
}